body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #fff;
  padding: 1em;
  text-align: center;
  border-bottom: 2px solid #e7e7e7;
}

header input,
header button,
header select {
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #ddd;
}

header button {
  background-color: #f06292;
  color: white;
  border: none;
  cursor: pointer;
}

header button:hover {
  background-color: #c2185b;
}

main {
  padding: 2em;
}

#image-gallery,
#selected-items,
#suggestions {
  margin: 1em 0;
}

#image-gallery .image-container,
#suggestions img {
  margin: 0.5em;
  display: inline-block;
  vertical-align: top;
}

#image-gallery img,
#selected-items img,
#suggestions img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#selected-items img {
  width: 150px; /* Adjust size for selected items */
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
